body,
* {
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
    font-weight: var(--ff-regular);
    color: var(--clr-achromatic-900);
}

input,
button {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}
