.left-nav,
.left-nav > section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    justify-content: space-between;
    background-color: var(--clr-achromatic-250);
    padding: 1rem 0;
    z-index: 10;
}

.left-nav a {
    position: relative;
}

.left-nav > section i {
    font-size: 1.5rem;
    padding: 1rem 1.4rem;
    color: var(--clr-achromatic-350);
    cursor: pointer;
}

.left-nav > section i:hover {
    color: var(--clr-achromatic-500);
}

.left-nav > section .left-nav-focused,
.left-nav > section .left-nav-focused:hover {
    color: var(--clr-achromatic-700);
}

.left-nav__non-read-tag {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-non-read);
    color: var(--clr-achromatic-100);
    font-size: 0.8rem;
    animation: pulse 2s infinite;
}
