@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;800&display=swap");
@import "variables.css";
@import "reset.css";
@import "login.css";

.login-header {
    position: fixed;
    top: 0.7rem;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.login-header > i {
    color: var(--clr-yellow-600);
    cursor: pointer;
    padding: 0.2rem;
}

.login-header > i:hover {
    color: var(--clr-yellow-800);
}
