:root {
    --clr-yellow-400: #ffdc22;
    --clr-yellow-600: #9b8723;
    --clr-yellow-700: #594941;
    --clr-yellow-800: #423630;

    --clr-achromatic-100: #ffffff;
    --clr-achromatic-100: #acadb1;
    --clr-achromatic-200: #f6f6f6;
    --clr-achromatic-250: #ececed;
    --clr-achromatic-300: #b7b7b7;
    --clr-achromatic-350: #acadb1;
    --clr-achromatic-500: #909297;
    --clr-achromatic-700: #343740;
    --clr-achromatic-900: #262626;

    --ff-light: 200;
    --ff-regular: 500;
    --ff-bold: 800;
}
