:root {
    --clr-yellow-400: #ffdc22;
    --clr-yellow-500: #e4c31f;
    --clr-yellow-600: #9b8723;
    --clr-yellow-700: #594941;
    --clr-yellow-800: #423630;

    --clr-achromatic-100: #ffffff;
    --clr-achromatic-200: #f6f6f6;
    --clr-achromatic-250: #ececed;
    --clr-achromatic-300: #b7b7b7;
    --clr-achromatic-350: #acadb1;
    --clr-achromatic-500: #909297;
    --clr-achromatic-700: #343740;
    --clr-achromatic-900: #262626;

    --clr-green: #15d24d;

    --clr-wallpaper-bulbassaur: #98c6b6;
    --clr-wallpaper-charmander: #ff9443;
    --clr-wallpaper-ditto: #cb91c1;
    --clr-wallpaper-eevee: #d69e4b;
    --clr-wallpaper-mew: #f2d7e6;
    --clr-wallpaper-squirtle: #85c3d8;

    --ff-light: 200;
    --ff-regular: 400;
    --ff-bold: 800;
}
